<h2 class="text-center">Dojo {{dojo.id}}</h2>
<p>Name: {{dojo.name}}</p>

<p>Created ON: {{dojo.created_at.strftime("%b %d %Y")}}</p>
<p>Last Updated: {{dojo.updated_at.strftime("%b %d %Y")}}</p>

<!-- {% for one_ninja in dojo_ninjas %}
<p>First Name: {{one_ninja.first_name}}</p>
<p>First Name: {{one_ninja.last_name}}</p>
<p>ID: {{one_ninja.id}}</p>
<p>Created At: {{one_ninja.created_at}}</p>
<p>Updated At: {{one_ninja.updated_at}} </p>
<hr>
{% endfor %} -->

<a class="navlist" href="/">Home</a>